# Rhistory
.Rhistory

# Rdata files
*.RData

# rds files
*.rds

# sav files
*.sav

# dta files
*.dta

# word files
*.doc
*.docx

# csv files
*.csv


# Ignore all Excel files in the data directory
Other_Datasets/*.xlsx